// accordion.scss
// アコーディオン用のスタイル

.accordion {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

  &__header {
    background: #f5f5f5;
    font-size: clamp(18px, 2vw, 24px);
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }

  &__content {
    background: #fff;
    padding: 1em;
    display: none;
  }

  &.is-open .accordion__content {
    display: block;
  }
}

/* アコーディオン上下間の余白 */
.wp-block-kadence-accordion.alignnone {
  margin-bottom: 2rem;
  .kt-row-column-wrap {
    padding: 1.5rem 16px 16px 16px;
    .kb-adv-text-inner {
      font-size: 1.5rem;
    }
  }
}

.wp-block-kadence-pane {
  // 見出しデザインリセット ※アコーディオンのみ適用
  h2 {
    &::before {
      content: none;
    }
  }
  .kt-row-column-wrap {
    padding-top: 0;
  }

  h2.kt-accordion-header-wrap {
    &::before {
      content: none; // アコーディオン時にH2タグの装飾削除
    }
    // 親アコーディオン タイトル
    .kt-blocks-accordion-title {
      font-size: clamp(18px, 2vw, 24px);
      font-weight: bold !important;
    }
    // アコーディオンボタン buttonタグ
    .kt-blocks-accordion-header {
      border: 1px solid #444 !important;
      border-radius: 8px !important;
      // アコーディオン見出しフォント
    }
  }
}

/* アコーディオン 子要素 詳細リスト */
.accordion-inner-detail {
  .kt-blocks-accordion-header {
    padding: 12px;
    .kt-blocks-accordion-title {
      font-size: 16px !important;
      font-weight: bold !important;
    }
  }
}

// スマホ対応
@media (max-width: 599px) {
  /* ページ親要素 */
  .faq_page,
  .wp-block-kadence-accordion.alignnone,
  .kt-row-column-wrap {
    padding: 0 !important;
  }

  .kt-accordion-panel-inner {
    padding: 16px 0 0 !important;
    .kb-row-layout-wrap {
      background-color: transparent;
    }
  }
  .wp-block-kadence-pane {
    // 見出しデザインリセット ※アコーディオンのみ適用
    h2 {
      &::before {
        content: none;
      }
    }
  }
  .wp-block-kadence-accordion.alignnone {
    .kt-row-column-wrap {
      padding: 16px 0 0;
      .kb-adv-text-inner {
        font-size: 1.2rem;
      }
    }
  }
  /* アコーディオン 子要素 詳細リスト */
  .accordion-inner-detail {
    .kt-accordion-inner-wrap {
      gap: 0.5rem !important;
    }
    .kt-blocks-accordion-header {
      padding: 12px !important;
      background-color: #f2f2f2 !important;
    }
  }
}
