// learndash.scss
// LearnDash既存設定のカスタマイズ

/* -----------------------------------------------------
*
* LearnDash編集画面のコンテンツ
*
----------------------------------------------------- */
.ld-focus-content {
  /* -------------------------- 
  ページネーション
  -------------------------- */
  /* -------------------------- 
  ページネーション
  -------------------------- */
  .ld-content-actions {
    justify-content: center;
    .ld-button {
      border-radius: 40px;
      padding: 1em 0.6em;
      .ld-text {
        padding: 0 0.8em;
      }
    }
    .ld-content-action {
      padding: 8px;
      .sfwd-mark-complete {
        margin-bottom: 1em;
      }
    }
    // 中央ボタン：チャプター、セクションに戻る
    .ld-course-step-back {
      display: inline-block;
      background: #eee;
      padding: 0.8em 2.2em;
      border-radius: 999px;
      transition: background 0.2s, color 0.2s, box-shadow 0.2s;

      &:hover,
      &:focus {
        background: #f4f4f4;
      }
    }
  }
}
